---
Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  cert-*,
  -cert-*-cpp,
  misc-*

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|tests|sources)/'
FormatStyle: file
