---
Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-simplify-boolean-expr,
  -readability-braces-around-statements,
  cert-*,
  -cert-*-cpp,
  misc-*

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include|tests|sources)/'
FormatStyle: file
